<header>
    <header>
        <div class="top-bar">
          <div class="logo">
            <a href="https://i.familiscope.fr/2000x1125/smart/2022/11/15/il-etait-une-fois-2.jpg">
              <img src="assets/img/logo.jpg" alt="logo">
            </a>
          </div>
          <div class="search">
            <input type="text" placeholder="Rechercher">
            <button>Rechercher</button>
          </div>
        </div>
        <nav>
          <ul class="nav-menu">
            <li><a routerLink="/">Accueil</a></li>
            <li><a routerLink="/films">Films</a></li>
            <li><a routerLink="/series">Séries</a></li>
            <li><a routerLink="/jeux">Jeux</a></li>
            <li><a routerLink="/livres">Livres</a></li>
          </ul>
        </nav>
      </header>
</header>      