<header>
  <h1>Welcome to the Star Wars API!</h1>
  <nav>
      <ul>
          <li><a href="#/">Home</a></li>
          <li><a href="#/films">Films</a></li>
          <li><a href="#/people">People</a></li>
          <li><a href="#/planets">Planets</a></li>
          <li><a href="#/species">Species</a></li>
          <li><a href="#/vehicles">Vehicles</a></li>
          <li><a href="#/starships">Starships</a></li>
      </ul>
  </nav>
  <img src="https://4.bp.blogspot.com/-4bfB7R9-HQk/WN0E7_pfj5I/AAAAAAAAa-k/otCFwuYwQKMJbN6JPpEjxfYhnR8aQr43QCLcB/s1600/20%2BGifs%2BStar%2BWars%2B3.gif" alt="Star Wars API Logo">
</header>