<header>
  <div class="left-section">
    <img src="assets/logo.gif" alt="Star Wars API Logo">
    <h1>Star Wars API!</h1>
  </div>
  <div class="search-section">
      <app-search></app-search>
  </div>
  <nav>
    <ul>
      <li><span><a routerLink="/Home">Home</a></span></li>
      <li><span><a routerLink="/films">Films</a></span></li>
      <li><span><a routerLink="/people">People</a></span></li>
      <li><span><a routerLink="/planets">Planets</a></span></li>
      <li><span><a routerLink="/species">Species</a></span></li>
      <li><span><a routerLink="/vehicles">Vehicles</a></span></li>
      <li><span><a routerLink="/starships">Starships</a></span></li>
      <li><span><a routerLink="/about">About</a></span></li>
    </ul>
  </nav>
</header>
