<header>
  <span><h1>Welcome to the Star Wars API!</h1></span>
  <nav>
    <ul>
      <li><span><a routerLink="/Home">Home</a></span></li>
      <li><span><a routerLink="/films">Films</a></span></li>
      <li><span><a routerLink="/people">People</a></span></li>
      <li><span><a routerLink="/planets">Planets</a></span></li>
      <li><span><a routerLink="/species">Species</a></span></li>
      <li><span><a routerLink="/vehicles">Vehicles</a></span></li>
      <li><span><a routerLink="/starships">Starships</a></span></li>
      <li><span><a routerLink="/about">About</a></span></li> <!-- Added "About" link -->
    </ul>
  </nav>
  <img src="https://4.bp.blogspot.com/-4bfB7R9-HQk/WN0E7_pfj5I/AAAAAAAAa-k/otCFwuYwQKMJbN6JPpEjxfYhnR8aQr43QCLcB/s1600/20%2BGifs%2BStar%2BWars%2B3.gif" alt="Star Wars API Logo">
</header>
