/* Style pour centrer les grands titres au milieu */
.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 10px;
}

/* Style pour l'effet de couleur bleue au survol des catégories */
.navbar-nav .nav-item:hover .nav-link {
  background-color: #007bff; /* Couleur bleue */
  border-radius: 5px; /* Coins arrondis */
  transition: background-color 0.3s ease; /* Transition en douceur */
}

/* Style pour le texte des liens de navigation */
.navbar-nav .nav-link {
  color: #fff; /* Couleur du texte initial */
  transition: color 0.3s ease; /* Transition en douceur */
}

.navbar-nav .nav-item:hover .nav-link {
  color: #fff; /* Couleur du texte au survol (si nécessaire) */
}
