/* Style de base pour l'en-tête */
header {
  background-color: #333; 
  padding: 10px 0;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
}

/* Style pour le titre dans l'en-tête */
header h1 {
  color: #fff;
  font-size: 2em; 
  margin: 0;
  font-weight: bold; 
}

/* Style pour l'image dans l'en-tête */
header img {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 50px;
  height: auto;
  border-radius: 50%; 
}
/* Style de base pour la navigation */
nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Style pour les liens dans la navigation */
nav ul li a {
  color: #fff;
  display: block;
  padding: 10px 15px; 
  text-decoration: none;
  transition: background-color 0.3s ease; 
}

/* Style pour le survol des liens dans la navigation */
nav ul li a:hover {
  background-color: #07cbf2;
  border-radius: 5px; 
}
