<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2023 Mon Projet Angular</p>
                </div>
                <div class="col-md-6">
                    <div class="bottom-icons">
                        <a href="https://github.com/sony-level/Movies-" class="github-icon">
                            <img src="assets/GitHub.png" alt="GitHub" width="24" height="24">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</html>
