/* Styles pour le corps de la page */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Styles pour le contenu */
.container {
  background-color: #080808;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 5px;
}

.content h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.content p {
  font-size: 16px;
  margin: 0;
}

/* Styles pour le pied de page */
.footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 10px 0;
}

.footer p {
  margin: 0;
}

/* Styles pour l'icône GitHub */
.github-icon img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
