<!DOCTYPE html>
<html>
  <footer class="footer">
    <div class="container">
      <div class="footer-content">
        <p>&copy; 2023 Mon Projet Angular</p>
        <ul class="social-icons">
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="bottom-icons">
      <a href="#" class="linkedin-icon"><i class="fab fa-linkedin"></i></a>
      <a href="#" class="github-icon"><i class="fab fa-github"></i></a>
    </div>
  </footer>
</html>
