/* Style de base pour le footer */
.footer {
  background-color: #000000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px; /* Hauteur augmentée pour un meilleur affichage */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Style des icônes de médias sociaux */
.social-icons {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  text-align: left; /* Aligner les icônes à gauche */
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

/* Style chic pour les icônes LinkedIn et GitHub */
.bottom-icons {
  position: absolute;
  bottom: 10px;
  left: 20px; /* Ajuster la position à gauche */
}

.linkedin-icon, .github-icon {
  font-size: 36px;
  color: #0077B5;
  margin-right: 10px;
}

.github-icon {
  font-size: 24px; 
}
