<div class="about-section">
    <h1>À propos du projet</h1>
    <p>Le projet Angular "Star Wars" a été réalisé par deux étudiants en Master 1 en cybersécurité :</p>
    
    <div class="student-container">
      <div class="student-card">
        <img src="https://th.bing.com/th/id/OIP.XhVISyxsZVj-WMQDG23NuwHaEK?rs=1&pid=ImgDetMain" alt="Mbango" />
        <h2>Mbango Level </h2>
        <p>Étudiant en Master 1 en cybersécurité.</p>
        <ul>
            <li><a href="https://github.com/sony-level">GitHub de Mbango</a></li>
        </ul>
      </div>
      <div class="student-card">
        <img src="lien_de_la_photo_de_Paul.jpg" alt="Paul Etsrade" />
        <h2>Paul Etsrade</h2>
        <p>Étudiant en Master 1 en cybersécurité.</p>
        <ul>
             <li><a href="https://github.com/lePSTDR">GitHub de Paul Etsrade</a></li>
        </ul>
      </div>
    </div>
  
    <p>Vous pouvez trouver le code source du projet sur le compte GitHub respectifs :</p>
    <ul>
        <li><a href="https://github.com/sony-level/Star-Wars-">GitHub du Projet</a></li>
   </ul>
    
  </div>
  