/* Style de la container des cartes de planètes */
.planet-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  /* Style des cartes de planètes */
  .planet-card {
    background-color: #000000;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }
  
  .planet-card:hover {
    transform: scale(1.05);
    background-color: #ffcc80; /* Couleur de fond au survol */
  }
  
  /* Style des détails de la planète */
  .planet-details {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
  }
  
  .planet-details h3 {
    font-size: 24px;
    margin-top: 10px;
  }
  
  /* Style des listes de résidents et de films */
  .collection-item {
    padding: 5px;
  }
  
  .collection-item a {
    color: #007bff;
    text-decoration: none;
  }
  
  .collection-item a:hover {
    text-decoration: underline;
  }
  