<app-header></app-header>
<content>
  <div class="container">
    <div *ngIf="films && films.length > 0">
      <h2>Films</h2>
      <div *ngFor="let film of films">
        <div class="data-frame">
          <p>{{ film.title }}</p>
        </div>
      </div>
    </div>
  
    <div *ngIf="people && people.length > 0">
      <h2>People</h2>
      <div *ngFor="let person of people">
        <div class="data-frame">
          <p>{{ person.name }}</p>
        </div>
      </div>
    </div>
  
    <div *ngIf="planets && planets.length > 0">
      <h2>Planets</h2>
      <div *ngFor="let planet of planets">
        <div class="data-frame">
          <p>{{ planet.name }}</p>
        </div>
      </div>
    </div>
  
    <div *ngIf="starships && starships.length > 0">
      <h2>Starships</h2>
      <div *ngFor="let starship of starships">
        <div class="data-frame">
          <p>{{ starship.name }}</p>
        </div>
      </div>
    </div>
  
    <div *ngIf="vehicles && vehicles.length > 0">
      <h2>Vehicles</h2>
      <div *ngFor="let vehicle of vehicles">
        <div class="data-frame">
          <p>{{ vehicle.name }}</p>
        </div>
      </div>
    </div>
  
    <div *ngIf="species && species.length > 0">
      <h2>Species</h2>
      <div *ngFor="let specie of species">
        <div class="data-frame">
          <p>{{ specie.name }}</p>
        </div>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>
</content>
<app-footer></app-footer>
