<!-- films.component.html -->
<div *ngIf="films.length > 0">
  <div *ngFor="let film of films">
    <h3>{{ film.title }}</h3>
    <p>Episode: {{ film.episode_id }}</p>
    <p>Director: {{ film.director }}</p>
    <p>Release Date: {{ film.release_date }}</p>
    <hr />
  </div>

  <div>
    <button (click)="loadPreviousPage()" [disabled]="currentPage === 1">Page précédente</button>
    <button (click)="loadNextPage()">Page suivante</button>
  </div>
</div>
<div *ngIf="films.length === 0">
  <p>Aucun film trouvé.</p>
</div>
