.planet-container {
  display: flex;
  flex-wrap: wrap; /* Permet de passer à la ligne lorsque nécessaire */
  justify-content: space-between; /* Espacement égal entre les éléments sur la première ligne */
}

.planet-card {
  width: calc(50% - 20px);
  margin-bottom: 20px; /* Espacement vertical entre les éléments */
  border: 1px solid #ccc;
  padding: 20px;

  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.planet-card h2, .planet-card h3, .planet-card p {
  margin: 0;
}

.planet-card ul {
  list-style: none;
  padding: 0;
}

.planet-card li {
  margin-bottom: 5px;
}
