<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>People List</title>
</head>
<body>
  <div class="container">
    <h1 class="mt-4">People List</h1>

    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th>Name</th>
          <th>Height (cm)</th>
          <th>Mass (kg)</th>
          <th>Hair Color</th>
          <th>Skin Color</th>
          <th>Eye Color</th>
          <th>Birth Year</th>
          <th>Gender</th>
          <th>Films</th>
          <th>Vehicles</th>
          <th>Starships</th>
          <th>Species</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of peopleList">
          <td>{{ person.name }}</td>
          <td>{{ person.height }}</td>
          <td>{{ person.mass }}</td>
          <td>{{ person.hair_color }}</td>
          <td>{{ person.skin_color }}</td>
          <td>{{ person.eye_color }}</td>
          <td>{{ person.birth_year }}</td>
          <td>{{ person.gender }}</td>
          <td>
            <ul>
              <li *ngFor="let film of films">{{ film.title }}</li>
            </ul>
          
          </td>
          <td>
            <ul *ngIf="person.vehicles && person.vehicles.length > 0">
              <li *ngFor="let vehicle of vehicles">{{ vehicle.name }}</li>
            </ul>
          </td>
          <td>
            <ul>
              <li *ngFor="let starship of starships">{{ starship.name }}</li>
            </ul>
          </td>
          <td>
            <ul *ngIf="person.species && person.species.length > 0">
              <li *ngFor="let specie of personSpecies">{{ specie.name }}</li>
            </ul>
        </tr>
      </tbody>
    </table>

    <div class="text-center mt-4">
      <button class="btn btn-primary" (click)="prevPage()">Previous Page</button>
      <button class="btn btn-primary" (click)="nextPage()">Next Page</button>
    </div>
  </div>
</body>
</html>
