/* Styles pour la section de bienvenue */
.welcome-section {
  background-color: #000000cb;
  padding: 60px 0;
}

.welcome-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.welcome-section p {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Styles pour les cartes de catégories */
.category-card {
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  min-height: 250px;
  display: flex;
  justify-content: center; /* Centrer verticalement */
  align-items: center; 
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.category-card:hover {
  transform: scale(1.05);
}

.category-card .card-body {
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px;
  text-align: center;
}

.category-card h2 {
  color: #3c00ff;
  font-size: 24px;
  margin: 0;
}

.category-card p {
  color: #a4a4a4;
  font-size: 18px;
  margin: 10px 0 20px;
}

/* Styles pour le container */
.container {
  padding: 30px;
}

.row {
  margin-top: 50px;
}
