.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.content-box {
  background-color: #000000dc;
  border: 1px solid #000000cf;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s;
}

.content-box:hover {
  background-color: #2980b9;
}

/* Style de l'image du film */
img {
  max-width: 100%;
  height: auto;
}

/* Style des détails du film */
.film-details,
ul {
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;
}

/* Style des listes non film */
.content-box h1 {
  margin-top: 0;
  color: #2c3e50;
}

.content-box ul {
  padding: 0;
  list-style: none;
}

.content-box li {
  margin-bottom: 10px;
}
